<div class="row page-fit">
  <div class="col-md-12 bg-red dense center">
    <h1 class="feature-title-showcase center">Sign Up For The 7 Day Free Trial</h1>
  </div>

   <div class="col-md-12 col-md-offset-1 no-header container">
          <div class="home-sign-up-card">
              <h1>Find <span style="color: #F16664">Winning Products</span><br>
                  For Your E-Commerce Store.</h1>
          </div>
  </div>

  <div class="container">
    <div class="col-md-12 header center embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jMuhttrr-OI?controls=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
  </div>

  <div class="col-md-12 header">
  <div class="container">
  <hr>
  <h2 class="feature-title-showcase col-md-offset-2">SIGN UP NOW</h2>
    <%= form_for(resource, as: resource_name, html:{class: "form-horizontal", role: "form"} ,url: registration_path(resource_name)) do |f| %>
      <%= render 'shared/error_messages', object: resource %>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :email %>
          </div>
          <div class="col-sm-8">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :password %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            <% if @minimum_password_length %>
              <p class="help-block">(<%= @minimum_password_length %> characters minimum)</p>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :password_confirmation %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Sign up", class: "btn btn-primary btn-lg", id: "submit-button" %>
          </div>
        </div>
        <hr>
      </div>
    <% end %>

  <div class="col-md-12 header">
    <div class="container">
      <h1 class="feature-title-showcase">What Will You Get?</h1>
    </div>
  </div>

  <div class="col-md-12 header">
       <div class="container">
        <div class="content-box grey shadowed">
          <h1>🔥 Proven Winning Products (Everyday)</h1>
          <p class="product-description">We are curating hot trending products for your Dropshipping Business everyday. Every product is a proven winner.</p>
        </div>  
      </div>
  </div>

  <div class="col-md-12 header">
       <div class="container">
        <div class="content-box grey shadowed">
          <h1>😍 Description & Store</h1>
          <p class="product-description">You found a product that is fitting your store? Great! You can now use our pre written Description and our picked AliExpress Store which we chose from hundreds of competitiors because of multiple metrics (like Feedback Score, Fullfilled Orders, Ratings etc.) and get started right away.</p>
        </div>  
      </div>
  </div>

  <div class="col-md-12 header">
       <div class="container">
        <div class="content-box grey shadowed">
          <h1>💸 Audiences & Influencers</h1>
          <p class="product-description">After you have set up your Product page it is time to make money. We have already done the research for you. Audiences for Facebook Ads and Influencers on Instagram that are fitting for each unique product.</p>
        </div>  
      </div>
  </div>

  <div class="col-md-12 header">
    <div class="container">
      <h1 class="feature-title-showcase">First 7 Days are Free - after that only 14.99$/month</h1>
      <h1 class="feature-title-showcase">Cancel anytime. No questions asked.</h1>

    </div>
  </div>

  <div class="col-md-12 header">
  <div class="container">
  <hr>
  <h2 class="feature-title-showcase col-md-offset-2">SIGN UP NOW</h2>
    <%= form_for(resource, as: resource_name, html:{class: "form-horizontal", role: "form"} ,url: registration_path(resource_name)) do |f| %>
      <%= render 'shared/error_messages', object: resource %>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :email %>
          </div>
          <div class="col-sm-8">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :password %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            <% if @minimum_password_length %>
              <p class="help-block">(<%= @minimum_password_length %> characters minimum)</p>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :password_confirmation %>
          </div>
          <div class="col-sm-8">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Sign up", class: "btn btn-primary btn-lg" %>
          </div>
        </div>
        <hr>
      </div>
    <% end %>
    <div class="col-md-12">
    <div class="container">
      <div class="col-md-12">
        <h1 class="feature-title-showcase">What others are saying</h1>
      </div>
      <div class="col-md-4 header">
        <%= image_tag("proof1.jpg", class: "img-responsive")%>
      </div>
      <div class="col-md-4 header">
       <%= image_tag("proof2.jpg", class: "img-responsive")%>
      </div>
      <div class="col-md-4 header">
       <%= image_tag("proof3.jpg", class: "img-responsive")%>
      </div>
    </div>
    </div>
  </div>

<script type="text/javascript">
  function trackRegistration(){
        fbq('track', 'CompleteRegistration');
  }
</script>