<div class="land-welcome-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 display-middle">
        <h3 style="color: #ffe732; font-weight: 500;">95% of dropshipping businesses fail after 1 month.</h3>
        <h1 style="color: white; font-weight: 500; letter-spacing: -1px;">Don't become part of the statistics.</h1>
        <h2 style="font-weight: 100 !important; color: #bae2ff;">We give you the best winning products, ads & everything else to make money starting now.</h2>
        <button class="btn btn-secondary btn-xlg shadowed" style="margin-top: 24px;">Start Free Trial</button>
      </div>
      <div class="col-md-4">
        <%= image_tag("iphonemockup.png", class: "img-responsive") %> 
      </div>
    </div>
  </div>
</div>
<div class="land-how-it-works-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align:center; font-weight: 600; color: #F16664; letter-spacing: -1px;">How it works?</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h2 style="">Don't know how to run a successful store?</h2>
      </div>
      <div class="col-md-8">
        <h3 style="font-weight: 200; font-size: 140%;">And maybe you spent last months on watching useless courses and even buying fake-guru consultations? You losing a lot of money or you profit is pretty small?</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h2 style="">We got a key for YOU!</h2>
      </div>
      <div class="col-md-8">
        <h3 style="font-weight: 200; font-size: 140%;">You could be smarter and use Keyproduct.io instead of watching a ton of useless video and loosing your time and money. The Keyproduct is a service that is continuously searching for new trends and products that can be used in your store. You don't need to look for new products anymore, this job is already done by us.</h3>
      </div>
    </div>
      
    <div class="row">
      <div class="col-md-4" >
        <h2 style="">Use a power of our Service</h2>
      </div>
      <div class="col-md-8">
        <h3 style="font-weight: 200; font-size: 140%;">Create your account on keyproduct, choose a right winners for your store and TEST IT! 
        We provide all materials that you will need: Suppliers, ranks, analytics, video ads and many more!</h3>
      </div>
    </div>

    </div>
  </div>
</div>
<div class="land-key-features">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
        <h1 style="text-align:center; font-weight: 600; color: #F16664; margin-bottom: 10px;">Four key features of our service</h1>
    </div>
  </div>
    <div class="row">
      <div class="col-md-3">
        <div class="land-feature-card">
          <h1 style="text-align: center;">🔥</h1>
          <h4>Winning products</h4>
          <p>Every day we manually find the best winning products for you. Add these goodies to your store and stop losing money on tests. No need to flush money down the drain anymore!</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="land-feature-card">
         <h1 style="text-align: center;">🆕</h1>
         <h4>Fresh products</h4>
         <p>We analyze market trends to discover amazing goods daily – the most promising, unusual and potentially hot products. Don't miss your chance to get the cream of the crop.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="land-feature-card">
          <h1 style="text-align: center;">📢</h1>
          <h4>Advertisement materials</h4>
          <p>We provide a complete marketing kit for your quick start: Facebook competitors report, social media ad copy, video ads, Facebook targeting. We help you get ahead of the competitors.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="land-feature-card">
         <h1 style="text-align: center;">💰</h1>
         <h4>Suppliers</h4>
         <p>Each Product we find got up to 3 different thoroughly researched and reliable suppliers from Aliexpress and other platforms</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="text-align: center; margin-bottom: 20px;">
    <button class="btn btn-primary btn-xlg shadowed" style="margin-top: 24px;">Start Your Free 3-Day Trial</button>
  </div>
</div>

<div class="land-social-proof">

  <div class="row">
    <div class="col-md-12"><h1 style="text-align:center; font-weight: 600; color: #F16664; margin-bottom: 10px;">What others say about us</h1></div>
  </div>
  <div class="row">
    <div class="col-md-4" style="padding: 20px;"><%= image_tag("proof1.jpg", class: "img-responsive") %></div>

    <div class="col-md-4" style="padding: 20px;"><%= image_tag("proof2.jpg", class: "img-responsive") %></div>

    <div class="col-md-4" style="padding: 20px;"><%= image_tag("proof3.jpg", class: "img-responsive") %></div>
  </div>
</div>


<div class="land-pricing-plans">
  <div class="row">
    <div class="col-md-12"><h1 style="text-align:center; font-weight: 600; color: #F16664; margin-bottom: 10px;">Pricing</h1></div>
  </div>

<!--  <div class="row">
    <div class="col-md-12">
      <div class="land-pricing-card">

      </div>
    </div>
  </div> -->
</div> 
<div class="land-partners">

</div>
<div class="land-faq">

</div>
<div class="land-contact">

</div>

    <!--
        <%= form_for(resource, as: resource_name, html:{class: "form-horizontal", role: "form"} ,url: registration_path(resource_name)) do |f| %>
          <%= render 'shared/error_messages', object: resource %>
            <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :email %>
              </div>
              <div class="col-sm-8">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :password %>
              </div>
              <div class="col-sm-8">
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                <% if @minimum_password_length %>
                  <p class="help-block">(<%= @minimum_password_length %> characters minimum)</p>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :password_confirmation %>
              </div>
              <div class="col-sm-8">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12" style="text-align: center;">
                <%= f.submit "Start Your 7-Day Free Trial", class: "btn btn-primary btn-lg sales-submit-button", id: "submit-button" %>
              </div>
            </div>
          </>
        <% end %>
        -->
      
<script type="text/javascript">
  function trackRegistration(){
        fbq('track', 'CompleteRegistration');
  }
</script>