  
  <div class="container productindex">
    <section class="product-navigation header top-margin">
         <%= render "shared/alerts" %>
          <h1 class="animated"><%= @title %></h1>
    </section>
    <hr>
    <section class="product-categories">
    <div class="row">
     <div class="col-md-12">
        <%= link_to(products_path) do %><span class="category-select">All</span><% end %>
        <% @categories.each do |category| %>
                <%= link_to(category_path(category)) do %><span class="category-select"><%= category.name %></span><% end %>
        <% end %>
      </div>
    </div>
    </section>
    <hr>

  <div class="row">
    <% @products.each do |product| %>
            <% if product.active? %>
                    <div class="col-md-3 col-xs-12">
                        <div class="content">
                            <%= link_to(product, class: "hvr-grow") do %>
                                <div class="product-card">
                                    <div class="heroscore-tag">
                                        <%= product.heroscore %>
                                    </div>
                                    <div class="image">
                                        <img src="<%= product.img %>" class="img-responsive">
                                    </div>
                                    <div class="profit">
                                        <h5 class="small-info">Profit</h5>
                                        <% @profit = (product.sellprice - product.storeprice) %>
                                        <%= number_to_currency(@profit) %>
                                    </div>
                                    <div class="title">
                                        <h4><%= product.title %></h4>
                                    </div>
                                    <div class="title">
                                        <h4><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <%= product.likes %> | <i class="fa fa-commenting" aria-hidden="true"></i> <%= product.comments %> | <i class="fa fa-share-alt-square" aria-hidden="true"></i> <%= product.shares %></h4>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
            <% end %>
        <% end %> 
    </div>

</div>