
    <div class="row header">
      <section class="home-head">
        <div class="col-md-12">
          <%= render "shared/alerts" %>
        </div>
        <div class="col-md-12 col-xs-12 col-md-offset-1">
          <div class="home-sign-up-card">
            <div class="header">
              <h1>Find <span style="color: #F16664">Winning Products</span><br>
                  For Your E-Commerce Store.</h1>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 col-md-offset-1">
        <%= image_tag("money.svg",class:"img-responsive")%>
        </div>
        <div class="col-md-4 col-xs-12 col-md-offset-1 center">
          <div class="home-sign-up-card">
            <div class="header">
                <h1>Find out more</h1>
                <h1><i class="fa fa-arrow-down animated bounce infinite" aria-hidden="true"></i></h1>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="row bg-red">
      <div class="col-md-12">
        <h1 class="dense center">What is DropshipHero?</h1>
        <div class="row">
          <div class="container center">
            <h2>Hier Video einfügen</h2>
          <div>
        </div>
        </div>
        </div>
      </div>
    </div>
    <div class="row header" id="others">
      <div class="col-md-12 center">
        <h1 class="feature-title-showcase">What others are saying</h1>
      </div>
      <div class="col-md-4">
        <%= image_tag("proof1.jpg", class: "img-responsive")%>
      </div>
      <div class="col-md-4">
       <%= image_tag("proof2.jpg", class: "img-responsive")%>
      </div>
      <div class="col-md-4">
       <%= image_tag("proof3.jpg", class: "img-responsive")%>
      </div>
    </div>
</>
