
    <div class="row header">
      <section class="home-head">
        <div class="col-md-12">
          <%= render "shared/alerts" %>
        </div>
        <div class="col-md-12 col-xs-12 col-md-offset-1">
          <div class="home-sign-up-card">
            <div class="header">
              <h1>Find <span style="color: #F16664">Winning Products</span><br>
                  For Your E-Commerce Store.</h1>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 col-md-offset-1">
        <%= image_tag("money.svg",class:"img-responsive")%>
        </div>
        <div class="col-md-4 col-xs-12 col-md-offset-1 center">
          <div class="home-sign-up-card">
            <div class="header">
                <h1>Find out more</h1>
                <h1><i class="fa fa-arrow-down animated bounce infinite" aria-hidden="true"></i></h1>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="row bg-red">
      <div class="col-md-12 center" id="howitworks">
        <h1 class="dense">Step By Step to Become A DropshipHero</h1>
      </div>
    </div>
    <div class="row">
     <div class="container header">
        <div class="col-md-3">
          <%= image_tag("design.svg", class:"img-responsive")%>
        </div>
        <div class="col-md-9">
          <div class="feature">
            <h1 class="feature-title-showcase">1. Choose Proven Winning Product</h1>
            <h2 class="feature-subtitle">We curate new <strong>proven</strong> Winning Products everyday for you. You can choose from many different categories and different profit margins.</h2>
          </div>
        </div>
      </div>
     <div class="container header">
        <div class="col-md-9">
          <div class="feature">
            <h1 class="feature-title-showcase">2. Copy Our Descriptions, Images & Reviews</h1>
            <h2 class="feature-subtitle">Every Product comes with prewritten and <strong>conversion optimized</strong> descriptions, images and a review csv to get that social proof rolling.</h2>
          </div>
        </div>
        <div class="col-md-3">
          <%= image_tag("webshop.svg", class:"img-responsive")%>
        </div>
      </div>
    </div>
    </div>
    <div class="container header">
        <div class="col-md-3">
          <%= image_tag("sale.svg", class:"img-responsive")%>
        </div>
        <div class="col-md-9">
          <div class="feature">
            <h1 class="feature-title-showcase">3. Start Promoting Your Store</h1>
            <h2 class="feature-subtitle">We have already found Facebook Audiences and Influencers for you to get started with profitable ads. You can also download premade Video and Image Ads for each product!</h2>
          </div>
        </div>
    </div>
    <div class="container header">
        <div class="col-md-12">
          <div class="feature center">
            <h1 class="feature-title-showcase"><u>4. Profit & Repeat</u></h1>
          </div>
        </div>
      </div>
    <div class="row bg-red header">
      <div class="col-md-12 center">
        <h1 class="dense"><%= link_to "Start Your Free 7 Day Trial now!", new_user_registration_path, class: "monster-link" %></h1>
      </div>
    </div>
    <div class="row header" id="package">
      <div class="col-md-12 center">
        <h1 class="feature-title-showcase">One package fits all - 14.99$/month</h1>
        <h2 class="feature-title-showcase"><u>What is included?</u></h2>
   
          <li class="included"> Access to <strong>All</strong> Proven Winning Products</li>
          <li class="included"> Conversion optimized <strong>Descriptions & Images</strong></li>
          <li class="included"> Access to <strong>Facebook Audiences</strong> and <strong>Instagram Influencer</strong></li>
          <li class="included"> Prewritten Adcopies & Captions</li>
          <li class="included"> Premade <strong>Video Ads</strong></li>
          <li class="included"> Premade <strong>Image Ads</strong></li>
          <li class="included"> <strong>New Products and Categories</strong> Every Day!</li>
          <li class="included"><span class="label label-primary">Coming soon</span> DropshipHero Academy - a complete Dropshipping Course</li>
          <li class="included"><span class="label label-primary">Coming soon</span> One Click Import</li>
          <br>  
          <h1 class="feature-title-showcase header">And that all for only <span style="color: #F16664">14.99$</span> <s>39.99$</s></h1>
        </u>
      </div>
    </div>
    <div class="row bg-red header">
      <div class="col-md-12 center">
        <h1 class="dense"><%= link_to "Start Your Free 7 Day Trial now!", new_user_registration_path, class: "monster-link" %></h1>
      </div>
    </div>
    <div class="row header" id="others">
      <div class="col-md-12 center">
        <h1 class="feature-title-showcase">What others are saying</h1>
      </div>
      <div class="col-md-4">
        <%= image_tag("proof1.jpg", class: "img-responsive")%>
      </div>
      <div class="col-md-4">
       <%= image_tag("proof2.jpg", class: "img-responsive")%>
      </div>
      <div class="col-md-4">
       <%= image_tag("proof3.jpg", class: "img-responsive")%>
      </div>
    </div>
    <div class="row bg-red header">
      <div class="col-md-12 center">
        <h1 class="dense"><%= link_to "Start Your Free 7 Day Trial now!", new_user_registration_path, class: "monster-link" %></h1>
      </div>
    </div>
</div>
