<div class="land-welcome-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 display-middle">
        <h1 style="color: #ffffff; font-size: 330%; font-weight: 500; letter-spacing: -1px; text-shadow: 1px 1px 12px #00000099;">The easiest way to grow your Dropshipping business!</h1>
        <h2 style="font-weight: 100 !important; color: #fefefe; font-size: 150%; text-shadow: 1px 1px 3px #00000077; letter-spacing: -0px;">DropshipHero™ gives you everything you need to start and grow your
                                                                  dropshipping business.<br><br> Winning products, converting ads, best
                                                                  audiences and more. We provide you with the best possible service to
             
                                                                  grow your business and reach your goals. Without any headaches.</h2>
        <div class="row">
          <div class="col-md-5">
            <%= link_to(new_user_registration_path) do %><button class="btn btn-secondary btn-xlg shadowed" style="margin-top: 24px; background-color: #1b52aa;  color: white;">Start Your <u>Free</u> 3-Day Trial</button><% end %>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <%= image_tag("iphonemockup.png", class: "img-responsive") %> 
      </div>
    </div>
  </div>
</div>
<div class="land-how-it-works-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align:center; font-weight: 600; color: #F16664; letter-spacing: -1px;">How it works?</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center" style="font-size: 150%; ">How much money have you wasted testing all sorts of non-profitable
                              products? Be honest... <br>
                              <strong>Way too much!</strong><br><br>
                              This will end <b>NOW!</b> DropshipHero™ gives you the right products, the
                              right information and the right strategy to increase your profits.
                              It is no longer needed to do the time-consuming research on your own.<br><br>
                              Just log into your DropshipHero™ account and pick your favorite
                              products!<br><br>
                              Just do us a little favor in return... send us screenshots of your success
                              on Instagram! We are looking forward to working with you :) </div>
    </div>
    </div>
  </div>
</div>
<div class="land-key-features">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
        <h1 style="text-align:center; font-weight: 600; color: #F16664; margin-bottom: 10px;">Key Features Of Our Service</h1>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="land-feature-card boxed">
          <h1 style="text-align: center; font-size: 280%;">💸</h1>
          <h4 style="font-weight: 600; font-size: 150%;">Winning products</h4>
          <p style="text-align: justify;">We find and analyse up to 4 proven winning products every day. In
            addition to every winning product we write a high quality individually
            written description and give you a profit analysis. The risk factor of each
            product will be displayed with the HeroScore™ ranking system. (The
            products and features are optimized in the conversion and therefore
            provide chances for the highest possible profitability.)</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="land-feature-card boxed">
         <h1 style="text-align: center; font-size: 280%;">⭐️</h1>
         <h4 style="font-weight: 600; font-size: 150%;">Supplier Research</h4>
         <p style="text-align: justify;">For every product we do a thoroughly supplier research to find the best
            and most reliable, fast shipping and highest quality suppliers. At the end
            of our research we offer a best choice pick and directly link you to the
            supplier. </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="land-feature-card boxed">
          <h1 style="text-align: center; font-size: 280%;">📢</h1>
          <h4 style="font-weight: 600; font-size: 150%;">Target Audience Research</h4>  
          <p style="text-align: justify;">Besides having a winning product, the most decisive factor for success
              with dropshipping is to target the right audience. Even though there is
              some luck involved you can maximize your odds to be successful. We
              provide you with in-depth analysis and advice to find the best audiences
              for every product.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="land-feature-card boxed">
         <h1 style="text-align: center; font-size: 280%;">⚡️</h1>
         <h4 style="font-weight: 600; font-size: 150%;">Influencer Research</h4>
         <p style="text-align: justify;">Instagram is becoming the most important social media marketing
            platform. On of the reasons is the increasingly important role of
            influencers and there reach. To expand and grow your eCommerce
            business we equip you with the most relevant and profitable influencers
            and the strategy you should use on Instagram.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-12" style="text-align: center; margin-bottom: 20px;">
      <%= link_to(new_user_registration_path) do %><button class="btn btn-secondary btn-xlg shadowed" style="margin-top: 24px; background-color: #1b52aa; color: white; font-size: 200%">Start Profiting NOW!<br>Start Your <u>Free</u> 3- Day Trial!</button><% end %>
      <p style="color: #1b52aa; font-size: 120%; letter-spacing: -1px; margin-top: 8px;">After that only 19.99$/Month</p>
  </div>
</div>
</div>

<div class="land-social-proof">

  <div class="row">
    <div class="col-md-12"><h1 style="text-align:center; font-weight: 600; color: #F16664; margin-bottom: 10px;">What others say about us</h1></div>
  </div>
  <div class="row">
    <div class="col-md-4" style="padding: 20px;"><%= image_tag("proof1.jpg", class: "img-responsive") %></div>

    <div class="col-md-4" style="padding: 20px;"><%= image_tag("proof2.jpg", class: "img-responsive") %></div>

    <div class="col-md-4" style="padding: 20px;"><%= image_tag("proof3.jpg", class: "img-responsive") %></div>
  </div>
</div>


<div class="land-pricing-plans">
  <div class="row">
    <div class="col-md-12"><h1 style="text-align:center; font-weight: 600; color: #F16664; margin-bottom: 10px;">Pricing</h1></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="land-pricing-card" style="padding: 10px;">
        <p style="color: blue; letter-spacing: -1px; text-align: center; margin-bottom: -20px; margin-top: 10px; font-size: 110%;">3 Days For Free</p>
        <h1 style="text-align: center; letter-spacing: -1px;"> Premium Hero Program</h1>
        <h2 style="text-align:center; letter-spacing: -1px; font-size: 130%; margin-top: -10px;">only <b>19.99$</b>/month</h2>
        <ul class="land-product-points" style="font-size: 130%;">
          <li>Winning Product incl. HeroRank ™</li>
          <li>Target Audience Research (Advice)</li>
          <li>Suppliers</li>
          <li>Ad Copy</li>
          <li>Influencer</li>
          <li>Video Ad/ Picture Ad</li>
          <li>Facebook Competitor Report</li>
               <%= link_to(new_user_registration_path) do %><button class="btn btn-secondary btn-xlg shadowed" style="margin-top: 24px; background-color: #1b52aa;  color: white;">Start Your <u>Free</u> Trial Now!</button><% end %>
        </ul>
      </div>
    </div>
  </div> 
 </div> 


<div class="land-partners">

</div>
<div class="land-faq">
  <div class="row"><div class="col-md-12"><h1 style="text-align:center; font-weight: 600; color: #F16664; margin-bottom: 10px;">FAQ</h1></div></div>

  <div class="row">
    <div class="col-md-6">
      <div class="faq-question">
        <h2>Why Should I Use DropshipHero™?</h2>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-4">
      <div class="faq-anwser">
                <p class="product-description">DropshipHero™ is all about innovation in product research. We provide the most individual and fastest service out of all research tools! Here a just a few points that makes us unique:
                    <ul>
                        <li>Exact evaluation of winning products with our DropshipHero™ Score algorithm.</li>
                        <li>Easy Step-by-Step for Reviews, Descriptions and more.</li>
                        <li>Individual and intelligently written descriptions with proven increased conversion rate you find nowhere else.   </li>
                        <li>Step-by-Step Influencer contact options with prewritten business inquiries</li>
                        <li>In-Depth target audience analysis and ads.</li>
                        <li>Fastest product research tool on the market</li>
                    </ul>
                </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="faq-question">
        <h2>How Do You Find Winning Products?</h2>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-4">
      <div class="faq-anwser">
                <p class="product-description">
                    To find the winning products we use different measurement tools to evaluate the overall potential of a product. We are constanly looking for winning products in hundreds! To find the best products we look at every aspect thats important to the success of a potential product. Among others we look at following criterias in product research: 
                    <ul>
                        <li>Social Media Interactions</li> 
                        <li>Sales volume </li>
                        <li>Realistic profit potential </li>
                        <li>Market demand </li>
                        <li>Potential target audiences</li>
                        <li>Niche potential </li>
                        <li>Trending niches </li>
                        <li>and more...</li>
                    </ul>
                </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="faq-question">
        <h2>Are All The Products Up To Date?</h2>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-4">
      <div class="faq-anwser">
                 <p class="product-description">
                    The winning products, as well as new ads and descriptions will be updated every day! This will ensure and maintain the winning potential of each product. Concerning their overall potential the DropshipHero™ Score will be updated over time. 
                </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="faq-question">
        <h2>What Is The DropshipHero™ Score?</h2>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-4">
      <div class="faq-anwser">
                 <p class="product-description">
                  The DropshipHero™ Score (short HeroScore) takes all the information concerning the winning product into account and delivers an overall estimation of the products potential.                 </p>
                </p>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col-md-6">
      <div class="faq-question">
        <h2>Is There a Free Trial?</h2>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-4">
      <div class="faq-anwser">
                 <p class="product-description">
                    Yes there is! The first 3 Days are completely free and include all the services provided in the DropshipHero™ Standard Package.
                </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="faq-question">
        <h2>How Much Does It Cost?</h2>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-4">
      <div class="faq-anwser">
                 <p class="product-description">
                    The DropshipHero™ Standard Package is currently only 19.99$ per month! 
                </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="faq-question">
        <h2>How Do I Cancel My Subscription?</h2>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-4">
      <div class="faq-anwser">
                 <p class="product-description">
                    You can cancel your subscription in the profile section of DropshipHero™. The subscription can be cancelled with one click. 
                </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="faq-question">
        <h2>Is It Possible To Cancel Whenever I Like?</h2>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-4">
      <div class="faq-anwser">
                 <p class="product-description">
                    Yes, it is possible to cancel your subscription anytime you would like to!  The services we provide will obviously still be accessible for the rest of the period you paid for.                 </p>
                </p>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-md-12" style="text-align: center; margin-bottom: 20px;">
    <%= link_to(new_user_registration_path) do %><button class="btn btn-secondary btn-xlg shadowed" style="margin-top: 24px; background-color: #1b52aa; color: white; font-size: 200%;">What are you waiting for?<br>Start Your <u>Free</u> Trial NOW!</button><% end %>
    </div>
  </div>

</div>



<div class="land-contact">

</div>
