<div class="container top">
   
    <section class="header">
        <%= link_to(products_path) do %>
            <button class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Back to Products</button>
        <% end %>
        <% if current_user.admin? %>
            <div class="float-right">
                <%= link_to edit_product_path(@product) do%>
                    <button class="btn btn-default"><i class="fa fa-edit"></i> Edit Product</button>
                <% end %>
            </div>
        <% end %>
    </section>


        <%= render 'section_productdescription' %>
    <hr>
        <%= render 'section_store' %>
    <hr>
        <%= render 'section_facebookads' %>
    <hr>
        <%= render 'section_instagramads' %>
    <hr>
</div>