<div class="container top">
  <section class="header">
    <%= link_to(products_path) do %>
      <button class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Back to Products</button>
    <% end %>
    <% if current_user.admin? %>
      <div class="float-right">
        <%= link_to edit_product_path(@product) do%>
          <button class="btn btn-default"><i class="fa fa-edit"></i> Edit Product</button>
        <% end %>
      </div>
    <% end %>
  </section>
  <div class="row">
    <div class="col-md-12">
      <h1 class="product-title"><%= @product.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-xs-12"><img src="<%= @product.img %>" class="img-responsive product-image"></div>
    <div class="col-md-7 col-xs-12">
      <div class="row">
        <div class="col-md-4 col-xs-12 box">
          <div class="box-content bg-orange shadowed">
            <p class="info-label">HeroScore</p>
            <h3 class="score">7.5/10</h3>
          </div>
        </div>
        <div class="col-md-8 col-xs-12 box">
          <div class="box-content bg-red shadowed">
            <div class="row">
              <div class="col-xs-3" id="padding-left">
                <p class="info-label">Sellprice</p>
                <h3 class="big"><%= number_to_currency(@product.sellprice) %></h3>
              </div>
              <div class="col-xs-1">
                <h3 class="big" id="minus">-</h3>
              </div>
              <div class="col-xs-3">
                <p class="info-label">Buyprice</p>
                <h3 class="big"><%= number_to_currency(@product.storeprice) %></h3>
              </div>
              <div class="col-xs-1">
                <h3 class="big" id="minus">=</h3>
              </div>
              <div class="col-xs-3">
                <p class="info-label">Profit</p>
                <h3 class="big profit animated infinite pulse slow delay-2s"><%= number_to_currency(@profit) %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 box">
          <div class="box-content bg-blue shadowed">
            <h4 class="title"><i class="fa fa-facebook-square" aria-hidden="true"></i> Ad Engagement</h4>
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <div class="engagement">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 5.312<br>
                    <i class="fa fa-commenting" aria-hidden="true"></i> 918<br>
                    <i class="fa fa-share-alt-square" aria-hidden="true"></i> 1.103
                  </div>
                </div>
                <div class="col-md-6 col-xs-12"><br>
                  <button class="btn btn-facebook btn-lg"><strong><i class="fa fa-search" aria-hidden="true"></i> Show Video Ad</strong></button>
                </div>
              </div>
            </div>
            <div class="col-md-4">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
