<div class="container top">
   
    <section class="header">
        <%= link_to(products_path) do %>
            <button class="btn btn-primary btn-lg"><i class="fa fa-arrow-circle-left"></i> Back to Products</button>
        <% end %>
        <div class="float-right">
            <%= link_to edit_product_path(@product) do%>
                <button class="btn btn-default"><i class="fa fa-edit"></i> Edit Product</button>
            <% end %>
        </div>
    </section>

        <%= render 'section_productdescription' %>
    <hr>
        <%= render 'section_facebookads' %>
    <hr>
        <%= render 'section_instagramads' %>
    <hr>
</div>