<div class="container top">
  <section class="header">
    <%= link_to(products_path) do %>
      <button class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Back to Products</button>
    <% end %>
    <% if current_user.admin? %>
      <div class="float-right">
        <%= link_to edit_product_path(@product, target: :_blank) do%>
          <button class="btn btn-default"><i class="fa fa-edit"></i> Edit Product</button>
        <% end %>
      </div>
    <% end %>
  </section>
  <div class="row">
    <div class="col-md-12">
      <h1 class="product-title"><%= @product.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-xs-12 img-box center">
         <img src="<%= @product.img %>" class="img-responsive product-image">  
    </div>  

    <div class="col-md-7 col-xs-12">
      <div class="row">
        <div class="col-md-4 col-xs-12 box">
          <div class="box-content bg-beige shadowed">
            <p class="info-label">HeroScore</p>
            <h3 class="score"><%= @product.heroscore %>/10</h3>
          </div>
        </div>
        <div class="col-md-8 col-xs-12 box">
          <div class="box-content bg-red shadowed ">
            <div class="row">
              <div class="col-xs-3" id="padding-left">
                <p class="info-label">Sellprice</p>
                <h3 class="big"><%= number_to_currency(@product.sellprice) %></h3>
              </div>
              <div class="col-xs-1">
                <h3 class="big" id="minus">-</h3>
              </div>
              <div class="col-xs-3">
                <p class="info-label">Buyprice</p>
                <h3 class="big"><%= number_to_currency(@product.storeprice) %></h3>
              </div>
              <div class="col-xs-1">
                <h3 class="big" id="minus">=</h3>
              </div>
              <div class="col-xs-3">
                <p class="info-label">Profit</p>
                <h3 class="big profit animated infinite pulse slow delay-2s"><%= number_to_currency(@profit) %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 box">
          <div class="box-content grey shadowed">
            <h4 class="title"><i class="fa fa-bar-chart" aria-hidden="true"></i> Ad Engagement</h4>
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="engagement">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <%= @product.likes %><br>
                  <i class="fa fa-commenting" aria-hidden="true"></i>  <%= @product.comments %><br>
                  <i class="fa fa-share-alt-square" aria-hidden="true"></i>  <%= @product.shares %><br>
                  Posted at: <% if @product.facebookad_posted_at? %>
                 <%= Time.at(@product.facebookad_posted_at).strftime("%B %e, %Y") %>
                  <% end%>
                  
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <a href="<%= @product.facebookad_url %>"class="btn btn-facebook btn-lg" target="_blank"><strong><i class="fa fa-search" aria-hidden="true"></i> Show Video Ad</strong></a>
                <a href="<%= @product.facebook_page_url %>"class="btn btn-default btn-margin" target="_blank"><strong><i class="fa fa-facebook" aria-hidden="true"></i> Show FB Page</strong></a>
                <a href="<%= @product.product_page_url %>"class="btn btn-default btn-margin" target="_blank"><strong><i class="fa fa-shopping-basket" aria-hidden="true"></i> Show Product Page</strong></a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 box">
          <div class="box-content grey shadowed">
            <h4 class="title"><i class="fa fa-align-left" aria-hidden="true"></i> Description</h4>
            <%= simple_format(@product.description, class: "product-description") %>
          </div>
        </div>
      </div>
    </div>
    <!-- /upper row -->
    <div class="container">
      <div class="row">
      <div class="col-md-12 col-xs-12 box">
          <div class="box-content header grey shadowed">
            <div class="row">
              <div class="col-md-12">
                <h4 class="title"><i class="fa fa-cart-plus" aria-hidden="true"></i> Where to buy?</h4>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="engagement">
                  <%= @product.storename %><br>
                  <%= number_with_precision(@product.storefeedbackscore, :precision => 2)%>% Feedback-Score<br>
                  <%= number_with_precision(@product.product_rating, :precision => 1)%> <i class="fa fa-star" aria-hidden="true"></i> Product Rating<br>

                <% if @product.storeepacket? %>
                  <i class="fa fa-check" aria-hidden="true"></i> E-Packet <strong>possible</strong>
                <% else%>
                  <i class="fa fa-times" aria-hidden="true"></i> E-Packet  <strong>not possible</strong>
                <% end %>
               </div>
              </div>
              <div class="col-md-4 col-xs-12">
                  <h5 class="price"><%= number_to_currency(@product.storeprice) %> Product Price</h5>
                  <h5 class="price"><%= if @product.storeepacketprice? then number_to_currency(@product.storeepacketprice) else number_to_currency(0.0) end %> Shipping Price</h5>
                  <hr>
                  <h5 class="price"><strong><%= if @product.storeepacketprice? then number_to_currency(@product.storeepacketprice + @product.storeprice) else number_to_currency(@product.storeprice) end %> Total Price with Shipping</strong></h5>
              </div>
              <div class="col-md-4 col-xs-12">
                 <%= link_to(@product.storeurl, target: :_blank) do %> <button class="btn btn-facebook btn-lg"><i class="fa fa-external-link" aria-hidden="true"></i> Go to Product Page on AliExpress</button><% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 box">
          <div class="box-content header grey shadowed">
            <div class="row">
              <div class="col-md-12">
                <h4 class="title"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook Advertising</h4>
              </div>
              <div class="col-md-4 col-xs-12">
                <h5 class="subtitle">Audiences</h5>
                <table class="table audience-table">
                  <% @audiences.each do |audience| %>
                    <tr>
                      <td><%= audience %></td>
                    </tr>
                  <% end %>
                </table>
              </div>
              <div class="col-md-4 col-xs-12">
                <h5 class="subtitle">AdCopy</h5>
                <%= simple_format(@product.adcopy, class: "product-description") %>
              </div>
              <div class="col-md-4 col-xs-12">
                 <% data = {"Woman" => @product.facebook_female, "Men" => @product.facebook_male}%>
                 <%= pie_chart data, donut: true, colors: ["#F16664", "#3b5998"] %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 box">
          <div class="box-content header grey shadowed">
            <div class="row">
              <div class="col-md-12">
                <h4 class="title"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram Advertising</h4>
              </div>
              <div class="col-md-4 col-xs-12">
                <h5 class="subtitle">Influencer</h5>
                <table class="table audience-table">
                  <% @influencer.each do |influencer| %>
                    <tr>
                      <td><a href="https://instagram.com/<%= influencer %>" class="influencer-link">@<%= influencer %></a></td>
                    </tr>
                  <% end %>
                </table>
              </div>
              <div class="col-md-4 col-xs-12">
                <h5 class="subtitle">AdCopy</h5>
                <%= simple_format(@product.instagramadcopy, class: "product-description") %>
              </div>
              <div class="col-md-4 col-xs-12">
                <h5 class="subtitle">Message Influencer</h5>
                <p class="product-description">
                💵 BUSINESS RELATED 💵<br>
                I would like to promote a product on your page. <br> 
                What are your current rates for stories and posts?
                </p>
              </div>
            </div>
            <!-- /lower row -->
          </div>
        </div>
      </div>
    </div>
