<div class="container top">
    <section class="header">
        <%= link_to(products_path) do %>
            <button class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Back to Products</button>
        <% end %>
        <div class="float-right">
            <%= link_to edit_product_path(@product) do%>
                <button class="btn btn-default"><i class="fa fa-edit"></i> Edit Product</button>
            <% end %>
        </div>
    </section>
    <section class="header">
        <div class="row">
            <div class="col-md-9">
                <h1><%= @product.title %></h1>
            </div>
            <div class="col-md-3 text-right">
                <p class="small-label">Profit</p>
                <h2 class="profit animated infinite pulse delay-2s">💰 $<%= @profit %></h2>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-md-4"><img src="<%= @product.img %>" class="img-responsive product-image"></div>
        <div class="col-md-8">
            <h4>Description</h4>
            <p class="product-description"><%= simple_format(@product.description) %></p>
        </div>
    </div>
    <div class="row">
    </div>

</div>